DATABASE_URL=postgresql://postgres:secret@127.0.0.1:5432/postgres
# Setup your GitHub ID & Secret on GitHub: https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps
# For development make sure you setup this with a Homepage URL of http://localhost:3000/ and Authorization callback URL of http://localhost:3000/api/auth
GITHUB_ID=YOUR_GITHUB_ID
GITHUB_SECRET=YOUR_GITHUB_SECRET
NEXTAUTH_URL=http://localhost:3000/api/auth