GITHUB_ID= ### Replace with GitHub OAuth ID (https://github.com/settings/applications/new)
GITHUB_SECRET= ### Replace with GitHub OAuth Secret (https://github.com/settings/applications/new)
GITLAB_ID= ### Replace with GitLab OAuth ID (https://gitlab.com/-/user_settings/applications)
GITLAB_SECRET= ### Replace with GitLab OAuth Secret (https://gitlab.com/-/user_settings/applications)
NEXTAUTH_URL=http://localhost:3000/api/auth
DATABASE_URL=postgresql://postgres:secret@127.0.0.1:5432/postgres

E2E_USER_EMAIL=e2e@codu.co
E2E_USER_ONE_ID=8e3179ce-f32b-4d0a-ba3b-234d66b836ad
E2E_USER_TWO_ID=a15a104a-0e34-4101-8800-ed25c9231345
E2E_USER_ONE_SESSION_ID=df8a11f2-f20a-43d6-80a0-a213f1efedc1
E2E_USER_TWO_SESSION_ID=10134766-bc6c-4b52-83d7-46ec0a4cb95d
