@tailwind base;

:root {
  --discord-clr: linear-gradient(to bottom, #4b83fb, #734df8);
  --youtube-clr: linear-gradient(to top, #6d0202 22%, #c90000 61%);
  --github-clr: #f17f06;
  --twitter-clr: #282828;
}

body {
  @apply bg-neutral-100 text-neutral-900 dark:bg-black dark:text-white;
}

#__next {
  @apply h-full;
}

@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply mt-1 bg-white dark:bg-black focus:outline-none focus:ring-2 focus:ring-neutral-300 ring-offset-1 block w-full shadow-sm sm:text-sm border-white border-2 px-2 py-2 disabled:opacity-50 text-black dark:text-white;
  }

  a {
    @apply focus-style p-1;
  }

  label {
    @apply block text-sm font-medium text-white;
  }
}

.nav-button {
  @apply focus:text-neutral-900 dark:focus:text-white  text-neutral-900 hover:bg-neutral-200 hover:text-black dark:text-neutral-300 dark:hover:bg-neutral-900 dark:hover:text-white py-2 rounded-md px-2 focus-style;
}

.focus-style {
  @apply rounded-md shadow-sm focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-pink-600 focus:ring-inset focus:ring-offset-2 focus:ring-offset-pink-600 focus:ring-white focus:outline-none focus:ring-2;
}

.focus-style-rounded {
  @apply rounded-full shadow-sm focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-pink-600 focus:ring-inset focus:ring-offset-2 focus:ring-offset-pink-600 focus:ring-white focus:outline-none focus:ring-2;
}

.primary-button {
  @apply items-center bg-gradient-to-r from-orange-400 to-pink-600 rounded-md shadow-sm py-2 px-4 inline-flex justify-center font-medium text-white hover:from-orange-300 hover:to-pink-500 focus:outline-none focus:ring-2 disabled:from-neutral-500 disabled:to-neutral-700 disabled:border-neutral-300 disabled:text-neutral-300 disabled:hover:text-neutral-300 transition-colors focus-style;
}

.logo-focus {
  @apply focus-style pb-8;
}

.secondary-button {
  @apply items-center border-2 border-black dark:border-white hover:bg-neutral-300 dark:hover:bg-neutral-700 bg-gradient-to-r rounded-md shadow-sm py-2 px-4 inline-flex justify-center font-medium text-black dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-600;
}

.fancy-link {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-orange-400 to-pink-600 tracking-wide cursor-pointer;
}

.fancy-link:hover {
  @apply from-orange-300 to-pink-500;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}
.prose blockquote p::before {
  content: none;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border-2 border-neutral-200 bg-neutral-100 dark:border-neutral-700 dark:bg-black;
}

.prose code {
  @apply text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-100 dark:border-neutral-800 rounded-lg bg-neutral-100 dark:bg-black font-mono;
}

.prose code:after {
  content: none;
}

.prose code:before {
  content: none;
}

.prose pre code {
  @apply text-neutral-800 dark:text-neutral-200 p-0;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Placeholder (at the top) */
.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.ProseMirror {
  min-height: 500px;
}

.ProseMirror iframe {
  margin-inline: auto;
}

/* Hide the default list markers */
.ProseMirror ul,
.ProseMirror ol {
  list-style-type: none;
}

/* Create custom markers using pseudo-elements */
.ProseMirror li p::before {
  content: "•"; /* You can use other characters or even images */
  margin-right: 10px;
}

/* For ordered lists */
.ProseMirror ol li p::before {
  counter-increment: my-awesome-counter;
  content: counter(my-awesome-counter) ".";
  margin-right: 10px;
}

/* Initialize the counter for ordered lists */
.ProseMirror ol {
  counter-reset: my-awesome-counter;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-neutral-700 dark:text-neutral-300;
}

.token.punctuation {
  @apply text-neutral-700 dark:text-neutral-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-neutral-800 dark:text-neutral-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-neutral-800 bg-neutral-200 border border-b-0 border-neutral-200 rounded-t-lg dark:text-neutral-200 dark:border-neutral-700 dark:bg-neutral-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-neutral-100 border-l-4 border-blue-500 dark:bg-neutral-800;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

.prose .callout > p {
  margin: 0 !important;
}

/* Fix custom table layout */

table div {
  display: flex;
  flex-direction: column;
  background: blue;
  width: 100%;
}

/* Loading animation */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}

/* Footer social hover effects */

.twitter {
  @apply hover:bg-twitter focus:bg-twitter;
}
.github {
  @apply hover:bg-github focus:bg-github;
}
.discord {
  @apply hover:bg-discord focus:bg-discord;
}
.youtube {
  @apply hover:bg-youtube focus:bg-youtube;
}

/* end of plate editor styles  */

@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@layer {
  .gradient {
    background-image: linear-gradient(
      to right,
      rgb(251, 146, 60),
      rgb(219, 39, 119)
    );
    height: 0.25rem;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 50;
  }
}
